<!DOCTYPE html>
<html>
<head>
    <title>Samochody - Prepare</title>
</head>
<body>
    <a href="{% url 'home' %}">Strona Główna</a><br>
    <a href="{% url 'show-form' %}">Powrót: wybór marki</a><br>

    <hr>
    <h1>{{ car.name }}</h1>
    <table border="1">
        <thead>
            <th>
                Samochód
            </th>
            <th>
                Link do<br>szczegółów
            </th>
            <th>
                Ilość ofert<br>Polska
            </th>
            <th>
                Średnia cena<br>Polska
            </th>
            <th>
                Ilość ofert<br>Kraków
            </th>
            <th>
                Średnia cena<br>Kraków
            </th>
            <th>
                Cena minimalna<br>Kraków
            </th>
            <th>
                Cena maksymalna<br>Kraków
            </th>
        </thead>
        <tbody>
            {% for row in detailed %}
                <tr>
                    <td>
                        {{ row.0 }}
                    </td>
                    <td>
                        <a href="{% url 'show-year-details' keyword row.1 %}">
                            Szczegóły
                        </a>
                    </td>
                    <td>
                        {{ row.2 }}
                    </td>
                    <td>
                        {{ row.3 }}
                    </td>
                    <td>
                        {{ row.4 }}
                    </td>
                    <td>
                        {{ row.5 }}
                    </td>
                    <td>
                        {{ row.6 }}
                    </td>
                    <td>
                        {{ row.7 }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>