

<!DOCTYPE html>
<html>
<head>
    <title>Samochody-Home</title>
</head>
<body>
    <a href="{% url 'prepare' %}">Dodaj zadanie</a><br>
    <a href="{% url 'show-form' %}">Pokaż dotychczasowe zadania</a><br>
</body>
</html>