<!DOCTYPE html>
<html>
<head>
    <title>Samochody - Prepare</title>
</head>
<body>
    <a href="{% url 'home' %}">Strona Główna</a><br><br>
    <form target="{% url 'add' %}" id="add-form" method="POST">
        {% csrf_token %}
        Wybierz rok:<br>
        <select name="year">
            {% for year in years %}
                <option value="{{ year.0 }}">{{ year.1 }}
            {% endfor %}
            <option value="all" selected="selected">Wszystkie</option>
        </select><br>
        Wybierz markę samochodu:<br>
        <select name="car">
            {% for car in cars %}
                <option value="{{ car.0 }}">{{ car.1 }}
            {% endfor %}
            <option value="all" selected="selected">Wszystkie</option>
        </select><br>
        Wybierz stronę:<br>
        <select name="page">
            {% for page in pages %}
                <option value="{{ page.0 }}">{{ page.1 }}
            {% endfor %}
            <option value="all" selected="selected">Wszystkie</option>
        </select><br>
        Czy wyszukać w Krakowie?<br>
        <select name="is_city">
            <option value="true">Tak</option>
            <option value="all" selected="selected">Nie ma znaczenia</option>
        </select><br>
    </form>
    <button id="add-form" onclick="sendAjaxForm('add-form', responseToAdd);">Dodaj zadanie</button>
    <hr>
    <div id="add-response">Miejsce na odpowiedź</div>
    <script type="text/javascript">
        function sendAjaxForm(form_id, response_function){
            if(!(form_id && response_function)){
                return undefined
            }
            http_request = new XMLHttpRequest();
            var formElement = document.getElementById(form_id);
            var api_url = formElement.getAttribute("target");
            http_request.open("POST", api_url, true);
            http_request.onreadystatechange = response_function
            http_request.send(new FormData(formElement));
            return http_request.response;
        }

        function responseToAdd(response){
            var element = document.getElementById("add-response");
            element.innerHTML = "";
            if(this.readyState == 4){
                if(this.status == 200){
                    var text = response.target.responseText;
                    var dict = JSON.parse(text);
                    if(dict.state == "OK"){
                        element.innerHTML = "Udało się dodać zadanie";
                    }
                    else{
                        element.innerHTML = "Błąd danych: " + dict.message;
                    }
                }
                else{
                    var text = "Wystąpił błąd (";
                    text += this.statusText;
                    text += "), spróbuj ponownie";
                    element.innerHTML = text;
                }
            }
            else{
                element.innerHTML = "Wysyłam...";
            }
        }
    </script>
</body>
</html>