<!DOCTYPE html>
<html>
<head>
    <title>Samochody - Show details</title>
</head>
<body>
    <a href="{% url 'home' %}">Strona Główna</a><hr>
    <table border="1">
        <thead>
            <th>
                Samochód
            </th>
            <th>
                Link<br>zewnętrzny
            </th>
            <th>
                Ilość ofert<br>Kraków
            </th>
            <th>
                Średnia cena<br>Kraków
            </th>
            <th>
                Ilość ofert<br>Polska
            </th>
            <th>
                Średnia cena<br>Polska
            </th>
        </thead>
        <tbody>
            {% for row in glance %}
                <tr>
                    <td>
                        {{ row.0 }}
                    </td>
                    <td>
                        <a href="{% url 'show-details' row.1 %}">
                            Szczegóły
                        </a>
                    </td>
                    <td>
                        {{ row.2 }}
                    </td>
                    <td>
                        {{ row.3 }}
                    </td>
                    <td>
                        {{ row.4 }}
                    </td>
                    <td>
                        {{ row.5 }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>