<!DOCTYPE html>
<html>
<head>
    <title>Samochody - Prepare</title>
</head>
<body>
    <a href="{% url 'home' %}">Strona Główna</a><br>
    <a href="{% url 'show-form' %}">Powrót: wybór marki</a><br>
    <a href="{% url 'show-details' keyword %}">Powrót: wybór rocznika</a>
    <hr>
    <h1>Samochód: {{ car_name }}, Rocznik: {{ year }}</h1>
    <table border="1">
        <thead>
            <th>
                Tytuł
            </th>
            <th>
                Link
            </th>
            <th>
                Cena
            </th>
            <th>
                Przebieg
            </th>
            <th>
                Punktacja
            </th>
        </thead>
        <tbody>
            {% for data in details %}
                <tr>
                    <td>{{ data.title }}</td>
                    <td>
                        <a href="{{ data.url }}" target="_blank">
                            {{ data.short_url }}
                        </a>
                    </td>
                    <td>{{ data.price }}</td>
                    <td>{{ data.mileage }}</td>
                    <td>{{ data.points }}</td>
                    <td>{{ data.pk }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>